body{
    font-size:110%;
    background-color: #54829c;
    background-image: url(../ProjectFolder/Images/BlueBackground.jpg);
    background-size:cover
  }
.Jumbotron{
    text-align: center;
    color:rgb(34, 6, 109);
    background-color:#c9e6f7;
    grid-area: nav;
    background-image: url(../ProjectFolder/Images/FooterBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

.Jumbotron{
    border-style: dotted;
    border-width: 5px;
    border-color: #54829c;
    border-radius: 20px 20px 20px 20px;
    padding: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
.footer{
    background-color: #c9e6f7;
    background-image: url(../ProjectFolder/Images/FooterBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:rgb(34, 6, 109);
    font-family: sans-serif;
    font-weight: bold;
    grid-area: footer;
  }

  .footer{
    border-style: dotted;
    border-width: 5px;
    border-color: #54829c;
    border-radius: 20px 20px 20px 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40%;
    padding-right: 40%;
  }

  .header{
    background-color: #c9e6f7;
    background-image: url(../ProjectFolder/Images/ArticleBackground.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-position-x: top;
    color:white;
    grid-area: header;
  }

  .header{
    border-style: dotted;
    text-align:center;
    padding-bottom: 390px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    border-width: 5px;
    border-color: #54829c;
    border-radius: 20px 20px 20px 20px; 
  }

  .article{
    background-color: #c9e6f7;
    background-image: url(../ProjectFolder/Images/ArticleBackground.jpg);
    background-repeat: no-repeat;
    background-size: 136%;
    background-position-x: right;
    color:rgb(34, 6, 109);
    grid-area: article;
   }

  .article{
    border-style: dotted;
    border-left-width: 5px;
    border-right-width: 5px;
    border-color: #54829c;
    border-radius: 20px 20px 30px 30px; 
    padding-left: 10px;
    padding-top: 10px;
  }

  #ProfileImage{
    height: 300px;
    border-radius: 10px;
    padding-bottom: 30px;
  }
  
   h1,h2,h3{
    text-decoration: underline;
    padding-right: 9px;
  }

    #linkedinLogo{
      border-radius: 0%;
    }

    .container{
      display: grid;
      height: 100vh;
      grid-template-columns: 1fr 65% 1fr;
      grid-template-rows:  fr1 1fr 1fr;
      grid-template-areas: 
      "header Jumbotron Jumbotron"
      "header article article"
      "header article article"
      "footer footer footer"
    }

    p,h1,h2,h3,ul,li{
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #002c53;
    }

    #cellLogo{
      border: 2px;
      border-radius: 0%;
      font-weight: bold;
    }

    #emailLogo{
      border: none;
      border-radius: 0%;
    }

    .Jumbotron li{
      display: inline;
      padding-right: 10px;
    }

    .Jumbotron ul{
      padding-top:13px; 
    }

    @media all and (max-width: 600px) {
     .container {
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr;
       grid-template-areas: 
       "Jumbotron"
       "header"
       "article"
       "footer"
     }
     
   }
   
   @media all and (max-width: 990px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      "Jumbotron"
       "header"
       "article"
       "footer"
    }
    
  }

  .images :hover{
    transform: scale(1.2)
  }
